
body {

}

#mu {
    z-index: 999;
    height: 80px;
    background-color: #0ff;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#mu h1 {
    position:absolute;
    top:35px;
}

#mu button {
    background-color:#0ff;
    font-size:20px;
    padding:27px;
    border:none;
    color:navy;
    position:relative;
    left:300px;
}

#mu button:hover {
    background-color:#00cece;
}

#naio {
    
}

.img {
    transform: translateZ(-1px) scale(1.6);
    background-size: cover;
    height: 100vh;
    z-index: -1;
}
